.taskList {
  background-color: white;
  border-radius: 40px;
  width: 100%;
}
.item {
  border-radius: 1.5vh;
  margin-top: 1vh;
  padding: 0.5vh;
  padding-left: 1vw;
  padding-right: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1vw;
  width: 100%;
  min-height: 3vh;
  text-wrap: wrap;
  &:hover {
    background-color: lightgrey;
    cursor: pointer;
  }
  &:active {
    outline: 0.1vh solid black;
  }
}
.task {
  border-bottom:0.1vh dotted black ;
  width: 100%;
  word-break: break-all;
}
.deleteBtn {
  width: 2vh;
  height: 2vh;
  border-radius: 0.5vh;
  background: none;
  padding: 0px;
  border: none;
  &:hover {
    background: white;
  }
}
.deleteIcon {
  width: 2vh;
  height: 2vh;
}
